
body{
    align-content: center;
    width: 70%;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Crimson Text', serif;
}

div.tableofcontents{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
}

div.bookbody{
    margin-left: 80px;
    margin-right: 80px;
    
}

p{
    margin-top: 10px;
    margin-bottom:30px;
    
}
 
    
}
table{
    align-self: center;
    text-align: center;
}