#video {
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15%;
	width: 30%;
	height: 200px;
}

#placeholder {
	margin: 0;
}

#paragraph {
	width: 30%;
	margin-right: 15%;
	display: inline-block;
	float: right;
}