#video {
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}

#placeholder {
	margin: 0;
}

#buttondiv {
	width:100%;
	text-align:center;
	clear:both;
}
.tryit {
	margin:30 auto;
}
